<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>成功页面</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-bottom/">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
  <body>
<main class="container">
  <div class="bg-body-tertiary p-5 rounded mt-3">
    <script>
    </script>
    <h1>O(∩_∩)O <%= username%>, <%= msg %></h1><br>
    <a class="btn btn-lg btn-primary" href="<%= url %>" role="button">点击跳转 &raquo;</a>

  </div>
</main>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>